<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>928072790729-prp7fh8b88doq6clfm62ouq6u43bejv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.928072790729-prp7fh8b88doq6clfm62ouq6u43bejv6</string>
	<key>API_KEY</key>
	<string>AIzaSyDaUvhBtL8isNlfng2czFwJ4p60rkj5mGI</string>
	<key>GCM_SENDER_ID</key>
	<string>928072790729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sena.Swift6-Kcommunity</string>
	<key>PROJECT_ID</key>
	<string>swift6-kcommunity</string>
	<key>STORAGE_BUCKET</key>
	<string>swift6-kcommunity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:928072790729:ios:64be13bebe27f5c0601318</string>
</dict>
</plist>